body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.display-flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100vw;
  padding: 12px;
  border: 1px solid red;
  white-space: initial;
  word-wrap: break-word;
  padding: 12px;
}
